@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.row {
  margin-left: initial;
  margin-right: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  line-height: 30px;
  font-size: 15px;
}

*::selection {
  background-color: #a2e4f5;
  color: #09567a;
}

body {
  color: #a2e4f5;
  width: 100%;
  background-color: #09567a;
  overflow-x: hidden;
}

nav {
  display: flex;
  height: 70px;
  z-index: 100;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background: linear-gradient(180deg, #0b2545, #09567a);
  box-shadow: 0 2px 10px 10px #09567a;
}

nav ul {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  word-wrap: normal;
  align-items: center;
}

nav li {
  opacity: 100%;
  word-wrap: normal;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}

nav a {
  display: block;
  font-family: "Gruppo";
  text-transform: uppercase;
  height: 100%;
  padding: 0 1vw;
  font-size: 12px;
  text-decoration: none;
  color: #a2e4f5;
  transition: all 0.2s ease-in-out;
  border-radius: 0.7vw;
  transition: all 0.5s ease-in-out;
}

nav a:hover {
  font-weight: 800;
  text-decoration: none;
  color: rgb(61, 73, 90);
  font-size: 13px;
  background-color: #a2e4f5;
  box-shadow: 0px 0px 75px 5px #a2e4f5;
}

.josh-img {
  margin: auto;
  border-radius: 30px;
  box-sizing: border-box;
  width: 90%;
  margin-bottom: 30px;
}

.title {
  font-family: "Gruppo", sans-serif;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 40px;
}

h4.title {
  font-size: 25px;
}

h3.title {
  font-size: 30px;
}

.ecp h1 {
  margin-top: 50px;
}

.link {
  color: #a2e4f5;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
  border-radius: 5px;
  padding-right: 5px;
}

.link:hover {
  text-decoration: none;
  color: #09567a;
  background-color: #a2e4f5;
  background: #a2e4f5;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px #a2e4f5;
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container1 {
  width: 80%;
  padding: 15px 15px;
  padding-bottom: 30px;
  background: linear-gradient(360deg, #09567a, #15678d);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  border: none;
  position: relative;
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.container1 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container1 .row>* {
  width: 300px;
  flex-grow: 1;
}

.container2 {
  padding: 20px;
  margin-top: 150px;
  background-color: #0b2545;
  box-shadow: 0 2px 50px 55px #0b2545;
}

.container2 .row {
  display: flex;
  flex-wrap: wrap;
}

.container2 .row>* {
  width: 300px;
  flex-grow: 1;
}

.icon {
  width: 50px;
}

#xp {
  padding-bottom: 40px;
}

#end {
  margin-top: 10%;
  display: flex;
  justify-content: end;
}

.col-text {
  line-height: 1.6;
  font-size: 20px;
  color: #addbee;
  padding-bottom: 40px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.icon-div {
  display: flex;
  justify-content: center;
}

.col-lg-6 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.text {
  line-height: 40px;
  color: white;
  font-size: 20px;
  margin: 0;
  padding-right: 15px;
  padding-top: 15px;
}

#name {
  margin-top: 50px;
  padding: 50px 0;
  font-family: "Gruppo", sans-serif;
  left: 25px;
  text-align: center;
  font-size: 13vw;
}

.read-more {
  padding-top: 30px;
  font-size: larger;
}

.c12 {
  padding-top: 50px;
  margin-top: 250px;
  background-color: #0b2545;
  box-shadow: 0 2px 50px 55px #0b2545;
}

.c12 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c12 .row>* {
  width: 300px;
}

.c12 p {
  text-align: center;
  font-size: 15px;
  padding-top: 45px;
  font-weight: 500;
  color: #fff;
}

.parent {
  height: 650px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 10px;
  perspective: 1000px;
  background-color: #09567a;
  transition: all 0.5s ease-in-out;
}

.parent:hover {
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.neon {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  /* margin: 30px; */
  height: 200px;
}

.card1 {
  background-image: url("../Images/japan.jpg");
}

.card2 {
  background-image: url("../Images/switzerland.jpg");
}

.card3 {
  background-image: url("../Images/tanzania.jpg");
}

.card4 {
  background-image: url("../Images/ny.jpg");
}

.neon:hover {
  background-position: 100% 100%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}

.card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.card-content {
  padding-top: 15px;
  font-size: 12px;
  color: rgb(185, 185, 185);
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}

#hobbies {
  margin-top: 150px;
}

#hobbies h1 {
  margin-bottom: 30px;
}

#hobbies p {
  padding: 20px 5px;
}

.container3 {
  margin: auto;
  width: 90%;
}

.container3 .slide-container .slide {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 50px;
}

.container3 .slide-container .slide video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    transform: scale(1.5);
  }
}

.container3 .slide-container .slide .content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container3 .slide-container .slide .content h3 {
  font-size: 50px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  animation: animate 0.5s linear 0.5s backwards;
}

.container3 .slide-container .slide .content p {
  font-size: 20px;
  padding: 0 40px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  max-width: 800px;
  animation: animate 0.5s linear 1s backwards;
}

.container3 .slide-container .slide .content .date {
  font-size: 15px;
}

.container3 .slide-container .slide .content .btn {
  display: inline-block;
  background: #a2e4f5;
  padding: 9px 30px;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 15px;
  transition: 0.2s linear;
  animation: animate 0.5s linear 1s backwards;
}

.container3 .slide-container .slide .content .btn:hover {
  letter-spacing: 2px;
}

.container3 .slide-container {
  display: none;
}

.container3 .slide-container.active {
  display: block;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(-30px);
  }
}

.container3 #next,
.container3 #prev {
  position: absolute;
  transform: translateY(-400px);
  z-index: 90;
  height: 60px;
  width: 50px;
  line-height: 55px;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
}

.container3 #next {
  right: 5%;
}

.container3 #prev {
  left: 5%;
}

.container4 {
  margin-top: 150px;
  padding: 20px;
  background-color: #0b2545;
  box-shadow: 0 2px 50px 55px #0b2545;
}

.container4 .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container4 .row>* {
  width: 300px;
  flex-grow: 1;
}

.skill-img {
  float: left;
  padding: 0 5%;
  border-radius: 15%;
  width: 50%;
}

.skill-img2 {
  width: 50%;
  float: right;
  padding: 0 5%;
  border-radius: 15%;
}

.container4 p {
  text-align: justify;
  padding: 10px;
  line-height: 25px;
}

.skill {
  box-sizing: border-box;
}

.container4 .title {
  padding-bottom: 20px;
}

.container4 .row {
  margin-bottom: 50px;
}

footer {
  padding: 0;
  margin: 0;
}

.container5 {
  padding-top: 50px;
  background-color: #02152c;
  color: #a2e4f5;
}

.container5 .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
}

.container5 .row>* {
  flex-grow: 1;
  width: 400px;
  line-height: 25px;
  margin-bottom: 80px;
}

.container5 .email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container5 .email a {
  font-size: 20px;
}

address {
  text-align: center;
  font-size: 20px;
}

.container5 img {
  width: 50px;
  padding: 0 7px;
}

.container5 .icons {
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background: #a2e4f5;
  padding: 9px 30px;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 15px;
  transition: 0.2s linear;
  animation: animate 0.5s linear 0.5s backwards;
}

.fav-artists {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  text-align: center;
  width: 90%;
  line-height: 40px;
}

table,
th,
td {
  border: solid #0b2545;
  margin-bottom: 50px;
  border-collapse: collapse;
}

th {
  background-color: #0b2545;
}

.btn:hover {
  letter-spacing: 2px;
}

.contacts {
  text-align: left;
}

.email {
  padding-top: 15px;
  padding-bottom: 15px;
}

.email a {
  text-decoration: none;
  color: #a2e4f5;
}

.email a:hover {
  color: #15678d;
}

.phone p {
  display: inline;
  font-size: 20px;
}

.chat {
  height: 100%;
  display: table;
  vertical-align: middle;
}

.container6 {
  margin: auto;
}

.container6 .slide-container .slide {
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.container6 .slide-container .slide video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    transform: scale(1.5);
  }
}

.container6 .slide-container .slide .content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container6 .slide-container .slide .content h3 {
  font-size: 100px;
  padding: 20px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  animation: animate 1s linear 1s backwards;
}

.prep {
  background-image: url("/Images/prep.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.primary {
  background-image: url("/Images/primary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.secondary {
  background-image: url("/Images/secondary.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.c7 {
  background-color: #0b2545;
  width: 100%;
  padding: 50px;
}

.c7 h1 {
  margin-bottom: 50px;
  text-align: center;
}

.c7 h3,
.c7 p {
  justify-self: center;
}

.uni {
  background-image: url("/Images/uni.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.c8 {
  margin-bottom: 100px;
  box-shadow: 0 2px 50px 55px #09567a;
}

.c8 h3 {
  margin-top: 50px;
}

.c8 .row {
  display: flex;
  flex-wrap: wrap;
}

.c8 .row>* {
  flex-grow: 1;
}

.c8 p {
  margin: auto;
  max-width: 300px;
  text-align: justify;
  padding: 10px;
}

.playbox {
  text-align: center;
  padding: 30px;
  background-color: #862f11;
  border-radius: 40px;
  margin: 30px;
}

.playbox img {
  width: 97%;
  border-radius: 40px;
}

.playbox .song-title {
  text-align: left;
  padding-bottom: 0;
  color: white;
  font-size: 25px;
  padding-top: 20px;
  font-weight: bold;
}

.playbox .t2 {
  font-size: 20px;
  text-align: left;
  color: white;
  padding-bottom: 20px;
}

audio {
  text-decoration: none;
  width: 100%;
  border-radius: 0;
}

.c7 .card {
  box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.c7 p {
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

.c7 h3 {
  text-align: center;
  padding-top: 10px;
  margin: 0;
  font-weight: 600;
  font-size: 25px;
}

.c7 p {
  padding-bottom: 40px;
}

.c9 {
  background-color: #0b2545;
  width: 100%;
  box-shadow: 0 2px 50px 55px #0b2545;
}

.c9 h2 {
  font-size: 40px;
}

.c9 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c9 .row>* {
  width: 500px;
}

.c9 a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.c9 .playbox a:hover {
  color: #f1ac83;
}

.c9 .p2 a:hover {
  color: #efabc2;
}

.p2 {
  background-color: #60434d;
}

#fav-movies {
  margin-top: 150px;
  text-align: center;
}

#fav-movies h1 {
  padding-bottom: 40px;
}

#fav-movies img {
  margin: auto;
  width: 90%;
  padding: 10px;
}

#fav-movies .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside {
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  width: 300px;
  display: inline;
  padding: 30px;
}

.c10 {
  margin-top: 150px;
  box-shadow: 0 2px 50px 55px #09567a;
  background-color: #0b2545;
  width: 100%;
  box-shadow: 0 2px 50px 55px #0b2545;
}

.c10 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c10 .row>* {
  width: 300px;
}

blockquote {
  line-height: 40px;
}

.c10 blockquote {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

input {
  display: none;
}

.c11 {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 0;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  height: 500px;
  width: 300px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 250px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  height: 100%;
  background-color: #0b2545;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 0;
}

.card .image {
  display: flex;
  justify-content: center;
}

.card .image img {
  border-radius: 2px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  width: 95%;
  height: 150px;
  object-fit: cover;
}

.card .infos {
  display: block;
  text-align: end;
  padding-top: 20px;
}

.infos span {
  display: block;
}

.infos .name {
  font-size: 20px;
  color: var(--current-color1);
  letter-spacing: 6px;
  margin-bottom: 20px;
  padding-left: 0;
  transition: all 0.6s ease;
}

.infos .lorem {
  font-size: 12px;
  color: #eceaed;
  letter-spacing: 3px;
}

.card .btn-contact {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 7px;
  font-weight: 700;
  transition: all 0.7s ease;
}

#s1:checked~.cards #slide4,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-20%, 0, -50px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-10%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #eceaed;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(22%, 0, -60px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s4:checked~.cards #slide1 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(30%, 0, -500px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

.c13 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c13 .row>* {
  text-align: center;
}

.c13 img {
  flex-grow: 1;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

iframe {
  width: 90%;
  margin: 30px;
}

.work-xp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ecp h2 {
  font-size: 25px;
}

.ecp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
  max-width: 700px;
  padding: 30px;
}

.c14 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c14 .row>* {
  width: 300px;
  flex-grow: 1;
  padding: 15px;
}

.c14 h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.c14 h4 {
  font-size: 15px;
}

.c14 a {
  color: #a2e4f5;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  padding-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.c14 a:hover {
  text-decoration: none;
  color: #09567a;
  background-color: #a2e4f5;
  background: #a2e4f5;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px #a2e4f5;
}